<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="test">
    <link name="world">
  </link>

	<joint name = "rail" type = "prismatic">
    <parent link="world"/>    
    <child link="base_link"/>    
    <origin xyz="0.0 0.0 0.0"/>    
    <axis xyz="0 0 1"/>
    <limit lower="-0.1" upper="0.1"/>
    <dynamics damping="0.0" friction="0.0"/>  
	</joint>


  <link name="base_link">
    <inertial>
      <origin
        xyz="-0.000135784271391992 -0.00035116771294751 0.00100549587220426"
        rpy="0 0 0" />
      <mass
        value="0.000411575475656895" />
      <inertia
        ixx="3.50529095491679E-09"
        ixy="3.25772548984916E-12"
        ixz="-6.38649528556874E-12"
        iyy="1.35973370085991E-08"
        iyz="3.80608858900384E-12"
        izz="1.67819690298357E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/test/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/test/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>